In [42]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [43]:
lista_produtos = []

In [44]:
url_base = "http://www.buscape.com.br"
url = "https://www.buscape.com.br/search?q="

In [45]:
produtos = input("Digite o produto a ser cotado: ")

Digite o produto a ser cotado:

In [46]:
print (url+produtos)

https://www.buscape.com.br/search?q=

In [47]:
response = requests.get(url + produtos)

In [48]:
site = BeautifulSoup(response.text, 'html.parser')

In [49]:
#print(site.prettify())

In [50]:
produtos = site.findAll('div', attrs= {'class': 'card card--offer card--cpc'})

In [51]:
for produto in produtos:
    titulo = produto.find('a', attrs= {'class': 'link'})
    valoreal = produto.find('span', attrs= {'class': 'mainValue'})
    valorcent = produto.find('span', attrs= {'class': 'centsValue'})
   # link = url_base + link_produto
    if(valorcent):
        valor = valoreal.text + valorcent.text
    else:
        print(valoreal)
        
    loja = produto.find('a', attrs = {'class': 'merchantName'})
    link_produto = produto.find('a', attrs = {'class': 'link'})
    link_produto = link_produto['href']
    lista_produtos.append([titulo.text,valor,loja.text,url+link_produto]) 
    
  #  lista_produtos.append([titulo.text, valor, loja.text,link ])
  #  cotacao = pd.Dataframe(lista_produtos, columns=['Titulo','Pre√ßo','Loja','link'])
  #  print(titulo.text)
  #  print(valor)
  #  print(loja.text)
  #  print(url_base + link_produto)
  #  print('\n\n')

In [52]:
cotacao = pd.DataFrame(lista_produtos, columns=['Titulo','Preco','Loja','Link'], )

In [53]:
cotacao.to_csv('cotacao.csv', index=False)

In [54]:

cotacao1 = pd.read_csv('cotacao.csv', )

In [55]:
cotacao1

Empty DataFrame
Columns: [Titulo, Preco, Loja, Link]
Index: []

In [56]:
cotacao1 = cotacao1.drop_duplicates("Loja")

In [57]:
cotacao1

Empty DataFrame
Columns: [Titulo, Preco, Loja, Link]
Index: []

In [58]:
#  valoreal = site.find('span', attrs= {'class': 'mainValue'})
#  valorcent = site.find('span', attrs= {'class': 'centsValue'})
#  valor = valoreal.text + valorcent.text
#  loja = site.find('a', attrs = {'class': 'merchantName'})
#  link_produto = site.find('a', attrs = {'class': 'link'})
#  link_produto = link_produto['href']
#  print(titulo.text)
#  print(valor)
#  print(loja.text)
#  print(url_base + link_produto)